{% extends 'blog/base.html' %}

{% block main_area %}
    <h1>Blog</h1>
    {% if posts.exists %}

        {% for i in posts %}
            <!-- Blog Post -->
            <div class="card mb-4">
                {% if i.head_image %}
                    <img class="card-img-top" src="{{ i.head_image.url }}" alt="{{ i.title }}">
                {% endif %}
                <div class="card-body">
                    {% if i.category %}
                        <span class="badge badge-secondary float-right">{{ i.category }}</span>
                    {% else %}
                        <span class="badge badge-secondary float-right">미분류</span>
                    {% endif %}

                    <h2 class="card-title">{{ i.title }}</h2>
                    {% if i.hook_text %}
                        <h5 class="text-muted">{{ i.hook_text }}</h5>
                    {% endif %}
                    <p class="card-text">{{ i.content | truncatewords:45 }}</p> <!-- 장고 템플릿에서 제공하는 기능으로 truncatewords를 통해 출력하고 싶은 글자수만 출력할 수 있음-->
                    <a href="{{ i.get_absolute_url }}" class="btn btn-primary">Read More &rarr;</a>
                </div>
                <div class="card-footer text-muted">
                    Posted on {{ i.created_at }} by
                    <a href="#">{{ i.author }}</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h1>아직 게시물이 없습니다.</h1>
    {% endif %}

    <!-- Pagination -->
    <ul class="pagination justify-content-center mb-4">
        <li class="page-item">
            <a class="page-link" href="#">&larr; Older</a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" href="#">Newer &rarr;</a>
        </li>
    </ul>
{% endblock %}